.App {
  width: screen;
  height: screen;
}

.exercise-row {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
}

.exercise-header {
  background-color: azure;
}

.exercise-text {
  width: 33%;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  height: 100%;
}

.exercise-list {
  display: flex;
  flex-direction: column;
  width: screen;
  height: 100%;
}

.edit-form {
  margin: 24px;
  display: flex;
  flex-direction: row;
  height: 24px;
  width: 70%;
  gap: 8px;
}

.form-content {
  width: 10%;
}
